*,
*:after,
*:before: {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    margin: 0;
}

a {
    text-decoration: none;
    color: #111;
}

a:hover h2 {
    color: #8bbabb;
}

h1 {
    display: inline-block;
    font-weight: 700;
    font-size: 1.8em;
    margin: 0.2em 0 0 0.5em;
}

h2 {
    color: #464159;
    font-weight: 400;
    font-size: 1.4em;
    margin: 0 0.2em 0;
}

.header {
    background: #6c7b95;
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    height: 3em;
    padding: 0.5em 1em;
}

.icon-list {
    font-size: 1.5em;
    color: #FFF;
}

.slide-menu {
    position: absolute;
    top: 4.2em;
    padding: 1em;
    background: #8bbabb;
    height: 100%;
    width: 13em;
    transform: translate3d(0, 0, 0);
    transition: transform 0.2s;
}

.slide-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.slide-menu li {
    padding: 0;
}

.slide-menu li a {
    color: #fff;
    font-size: 1.3em;
    display: block;
    padding: 0.5em 0.8em;
}

.slide-menu li a:hover {
  text-decoration: underline;
}

.menu-hidden .slide-menu {
    transform: translate3d(-15em, 0, 0);
    transition: transform 0.2s;
}

.feed {
    margin: 4.5em 3.4em 0;
}

.entry {
    border-bottom: 1px solid #c7f0db;
    padding: 0.8em 0 0.4em;
    margin: 0.5em 0;
}
